<div class="container my-5">
    <h1 class="mb-3">Add New Student</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addStudent()">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" name = "firstName" [(ngModel)] = "addStudentRequest.firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name = "lastName" [(ngModel)] = "addStudentRequest.lastName">
                </div>
                <div class="mb-3">
                    <label for="courseNb" class="form-label">Number of Courses</label>
                    <input type="text" class="form-control" id="courseNb" name = "courseNb" [(ngModel)] = "addStudentRequest.courseNb">
                </div>
                <div class="mb-3">
                    <label for="gradDate" class="form-label">Graduation Date</label>
                    <input type="date" class="form-control" id="gradDate" name = "gradDate" [(ngModel)] = "addStudentRequest.gradDate">
                </div>
                <div class="mb-3">
                    <label for="studentId" class="form-label">Student ID</label>
                    <input type="text" class="form-control" id="studentId" name = "studentId" [(ngModel)] = "addStudentRequest.studentId">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>